/* code that is here, until the first @media block, will apply to any screen size */
#somethingorother {
  width: 800px;
}

@media screen and (max-width: 320px) {
  #somethingorother {
    width: 120px;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  #somethingorother {
    width: 320px;
  }
}
@media screen and (min-width: 481px) {
  #somethingorother {
    width: 480px;
  }
}
